html{
    font-family: Helvetica, sans-serif;
     background-image: url("background.jpg");
 background-color: #cccccc;
    font-size:25px;
}

 h1 {
  font-family: "parfumerie-script", sans-serif;
font-weight: 400;
  font-style: normal; 
  font-size: 120px;  
    color: #594347;
       border:5px solid #594347; 
        text-align: center;
        margin: 10px; 
        padding: 10px;
    }
h2{
    color: #594347;
    font-size:25px;
    text-align: center;
    margin: 15px; 
}
h3{
    color: #e83cc6;
    font-size:25px;
    margin: 15px; 
}
h4{
    color: #594347;
    font-size:20px;
    margin: 15px; 
}
p{
    color: #594347;
    font-size: 20px;
    margin: 15px; 
    padding: 5px;
    border:5px solid #594347;
}