html{
    font-family: Helvetica, sans-serif;
    background-color: rgb(255, 204, 246);
    font-size:25px;
}

 h1 {
  font-family: "Monsieur La Doulaise", cursive;
  font-style: normal;   
    color: #cf0a8a;
       border:5px dotted #594347; 
        text-align: center;
        margin: 15px; 
        padding:30px
    }
h2{
    color: #594347;
    font-size:25px;
    text-align: center;
    margin: 15px; 
}
h3{
    color: #594347;
    font-size:25px;
    margin: 15px; 
}
h4{
    color: #cf0a8a;
    font-size:20px;
    margin: 15px; 
}
p{
    color: #594347;
    font-size: 20px;
    margin: 15px; 
    padding: 5px;
    border:5px dotted #594347;
}