*{
    box-sizing: border-box;
}
.content-box {
    background-color: lightpink;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 5px solid hotpink;
    margin: 50px;
    box-sizing: content-box;
}
.border-box {
    background-color: lightpink;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 5px solid hotpink;
    margin: 50px;
    box-sizing: border-box;
}

.container{
    background-color: hotpink;
    width: 300px;
    height: 300px;
    position: relative;
    left:90px;
}
.box{
    background-color:plum;
    width: 100px;
    height: 100px;
    margin:20px 0;
    border:2px solid darkmagenta;
    padding:5px
}

.relative{
    background-color:lightyellow;
    position: relative;
    top:50px;
    left: 50px;
}
.fixed{
    background-color:lightskyblue;
    position: fixed;
    bottom:0px;
    right:0px;
    margin: 0;
}
.absolute{
    background-color: rgb(116, 213, 101);
    position: absolute;
    top:0;
    right: -100px;
    margin:0
}